<footer class="footer fixed-bottom my-footer">
    <span class="text-muted my-text">Created by Rusiru Abhisheak</span>
    <span class="text-muted my-text"><a href="https://github.com/rusiruavb">Get the source code</a></span>
</footer>